<h2>new bracket</h2>
<p>

<%= form_for @bracket do |f| %>

	title <%= f.text_field :title %>

	<p>

	<%= f.file_field :icon %>

	<p>

	description<br>
	<%= text_area(:description, :text, size: "50x10") %>

	<br>

	<%= f.submit "create" %>

<% end %>