<h2><%= @bracket.title %></h2>

<div class="flexed">

	<div class="bracket-d"><%= @bracket.description %></div>

	<div class="bracket-2">

		<div class="bracket-av"><img src="<%= @bracket.icon.url %>"></div>


		<div class="flexed">

			<div class="halffa">

				<h3>teachers</h3>

				<% @staff.each do |nerd| %>
						
					<%= nerd.displayname %><p>

				<% end %>
			</div>

			<div class="halffa">
				<h3>current students</h3>

				<% @bracket.students.each do |nerd| %>
					<% if nerd.mentorships.where("bracket" == @bracket).where("is_complete" => false)[0] %>
						
						<%= nerd.displayname %><p>

					<% end %>
				<% end %>
			</div>

		</div>

	</div>

</div>