<h2>your journeys</h2>

<% @mentorships.each do |journey| %>
	
	<h3><a href="/journey/<%= journey.id %>"><%= journey.title %></a></h3>

	<a href="/brackets/<%= journey.bracket_id %>"><%= journey.bracket.title %></a>

	<% if journey.is_complete? %>
		(<i>completed on <%= journey.end_date.strftime("%B %e, %Y") %></i>)
	<% else %>
		(<i><%= journey.bracket.level_system[journey.level] %></i>)
	<% end %>

	, taught by <a href="/user/<%= journey.teacher_id %>"><%= journey.teacher.displayname %></a>

	<P>
		<%= preview_mode(journey.bracket.description, 100) %>
	</P>

	<% if !journey.is_complete? %>

		<h4>progress</h4>

		<% journey.activities.each do |activity| %>
			<a href="/activities/<%= activity.id %>"><%= activity.title %></a>
				<% if check_activity(activity, current_user) == true %>
					<i class="fas fa-check"></i>
				<%end%>
			<br>
		<% end %>

	<% end %>

<% end %>