<!-- <h2>your journeys</h2> -->

<% @mentorships.each do |journey| %>

	<div class="journey-ent flexed">	

		<h3><a href="/journey/<%= journey.id %>"><%= journey.title %></a></h3>
		
		<div class="journey-side">
			<div class="journey-b-img">
				<%if !journey.bracket.icon.file.nil? %>
					<img src="<%= journey.bracket.icon.url %>">
			    <% else %>
			        <%= image_tag 'header_basic.jpg', alt: '' %>
				<% end %>
			</div>
			<div class="journey-t-img">
				<% if journey.teacher.avatar.file.nil? %>
		        	<%= image_tag 'default_av.png' %>
		        <% else %>
		         	 <img src="<%= journey.teacher.avatar.url%>">
		        <% end %>
		    </div>
		</div>

		<div class="journey-entry">
			<b><a href="/brackets/<%= journey.bracket_id %>"><%= journey.bracket.title %></a>

			<% if !journey.is_complete? %>
				( <i><%= journey.bracket.level_system[journey.level] %></i> )
			<% end %>

			, taught by <a href="/user/<%= journey.teacher_id %>"><%= journey.teacher.displayname %></a>

			<% if !journey.is_complete? %> since <%= journey.created_at.strftime("%B %e, %Y") %> <% end %></b>

			<P>
				<%= preview_mode(journey.bracket.description, 100) %>
			</P>
		</div>
		<div class="journey-prog">

			<% if !journey.is_complete? %>

				<h4>progress</h4>

				<% journey.activities.each do |activity| %>
					<a href="/activities/<%= activity.id %>"><%= activity.title %></a>
						<% if check_activity(activity, current_user) == true %>
							<i class="fas fa-check"></i>
						<%end%>
					<br>
				<% end %>

			<% else %>
			
			<h4>completed!</h4>
				<%= journey.created_at.strftime("%B %e, %Y") %> — <%= journey.end_date.strftime("%B %e, %Y") %>

			<% end %>
		</div>

	</div>

<% end %>