<h1>Achievements#edit</h1>
<p>Find me in app/views/achievements/edit.html.erb</p>

<%= form_for @achievement do |f| %>

	<b>activity:</b> <%= @achievement.activity.title %>

	<hr>

	title <%= f.text_field :title %>

	<hr>

	<%= text_area(:content, :text, size: "50x10", value: @achievement.content) %>

	<hr>

	<%= f.submit "update" %>

<% end %>

<%= link_to "delete submission", achievement_path, method: :delete %>