<h2>Edit a Submission</h2>

<%= form_for @achievement do |f| %>

	<b>activity:</b> <%= @achievement.activity.title %> (in <%= @achievement.bracket.title %>)

	<p>

	title <%= f.text_field :title %>

	<p>

	<%= text_area(:content, :text, size: "50x10", value: @achievement.content) %>

	<br>

	<%= f.submit "update" %>

<% end %>
<p>

<button><%= link_to "delete", achievement_path, method: :delete %></button>