<h1>Achievements#new</h1>
<p>Find me in app/views/achievements/new.html.erb</p>

<%= form_for @achievement do |f| %>

	<%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :title), include_blank: "What activity are you completing?") %>

	<hr>

	is this a private submission?
	<%= select_tag(:is_private, options_for_select([['No', false], ['Yes', true]]))%>

	<hr>

	title <%= f.text_area :title %>

	<hr>

	<%= text_area(:content, :text, size: "50x10") %>

	<hr>

	<%= f.submit "create" %>

<% end %>