<h2><%= @achievement.title %></h2>

<% if @achievement.is_private? && current_user != (@achievement.user || @achievement.mentorship.teacher) %>

	private!

<% else %>

	<h3>by <a href="/user/<%= @achievement.user_id %>"><%= @achievement.user.displayname %></a>, fulfilling <a href="/activities/<%= @achievement.activity_id %>"><%= @achievement.activity.title %></a> for <a href="/journey/<%= @achievement.mentorship_id %>"><%= @achievement.mentorship.title %></a></h3>

	<p><%= @achievement.content %></p>

	<% if @achievement.user == current_user %>

		<button><a href="/achievements/<%= @achievement.id %>/edit">edit</a></button>


		<button><%= link_to "delete", achievement_path, method: :delete %></button>

	<% end %>

	<p>

	<% if @achievement.comments %>
		<% @achievement.comments.each do |comment| %>
			<div class="flexed ach-comments">
				<div class="comm-name"><h4><%= comment.user.displayname %> said: </h4></div>
				<div class="comm-time"><%= time_fixer(comment) %></div>
			<div class="ach-comm"><%= comment.content %></div>
			</div>
		<% end %>
	<% end %>

	<% if @achievement.mentorship.teacher == current_user %>

		<%= form_for @new_comment, :url => '/comment' do |f| %>
			<%= f.text_field :content %>
			<%= hidden_field_tag :achievement_id, @achievement.id %>
			<%= f.submit "comment" %>
		<% end %>

	<% end %>

<% end %>
