<h2><%= @achievement.title %></h2>

<% if @achievement.is_private? && current_user != (@achievement.user || @achievement.mentorship.teacher) %>

	private!

<% else %>

	<h3>fulfilling <a href="/activities/<%= @achievement.activity_id %>"><%= @achievement.activity.title %></a> for <a href="/journey/<%= @achievement.mentorship_id %>"><%= @achievement.mentorship.title %></a></h3>

	<p><%= @achievement.content %></p>

	<% if @achievement.user == current_user %>

		<div><a href="/achievements/<%= @achievement.id %>/edit">edit</a></div>

	<% end %>

	<p>

	<% if @achievement.comments %>
		<% @achievement.comments.each do |comment| %>
			<%= comment.user.displayname %> said: 
			<%= comment.content %><br>
		<% end %>
	<% end %>

	<% if @achievement.mentorship.teacher == current_user %>

		<%= form_for @new_comment, :url => '/comment' do |f| %>
			<%= f.text_field :content %>
			<%= hidden_field_tag :achievement_id, @achievement.id %>
			<%= f.submit "comment" %>
		<% end %>

	<% end %>

<% end %>
