<h2>new activity</h2>
<p>

<%= form_for @activity do |f| %>

	title <%= f.text_field :title %>

	<p>

	<%= select_tag(:bracket_id, options_from_collection_for_select(Bracket.all, :id, :title), include_blank: "What subject?") %>

	<p>

	description<br>
	<%= text_area(:description, :text, size: "50x10") %>

	<br>

	<%= f.submit "create" %>

<% end %>