<!DOCTYPE html>
<html>
  <head>
    <title>NycdaFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="greydient">
      <div class="greydients gr-one"></div>
      <div class="greydients gr-two"></div>
      <div class="greydients gr-three"></div>
      <div class="greydients gr-four"></div>
    </div>

<nav>

  <div id="logo">
    <div class="img-holder">
      <% if cookies[:mentorship_id] && cookies[:mentorship_id] == "admin" %>
        <%= image_tag 'admin.jpg' %>
      <% elsif cookies[:mentorship_id] && cookies[:mentorship_id] != "admin" && !Mentorship.find(cookies[:mentorship_id]).bracket.icon.file.nil? %>
        <img src="<%= Mentorship.find(cookies[:mentorship_id]).bracket.icon.url %>">
      <% else %>
        <%= image_tag 'header_basic.jpg', alt: '' %>
      <% end %>
    </div>
    <div id="headering">
      <h1>Apprentice</h1>
      <h2><% if cookies[:mentorship_id] && cookies[:mentorship_id] == "admin" %>
        admin options
        <% elsif cookies[:mentorship_id] %>
        <%= Mentorship.find(cookies[:mentorship_id]).bracket.title %>
      <% end %></h2>
    </div>
  </div>

  <div id="nav-top">
    <% if user_signed_in? %>
      <div class="nav-top-box"><a href="/"><div class="nav-btn"><div class="ugh-cent">home</div></div></a></div>
      <div class="nav-top-box"><a href="/brackets"><div class="nav-btn"><div class="ugh-cent">subjects</div></div></a></div>
      <% if current_user.mentorships.where("is_complete" => false)[0] %>
        <div class="nav-top-box"><a href="/journeys"><div class="nav-btn"><div class="ugh-cent">your journeys</div></div></a></div>
      <% end %>
      <% if Mentorship.where("is_complete" => false).where("teacher_id" => current_user.id)[0] %>
        <div class="nav-top-box"><a href="/students"><div class="nav-btn"><div class="ugh-cent"> your students</div></div></a></div>
      <% end %>
      <% if user_signed_in? && current_user.is_admin? %>
        <div class="nav-top-box"><a href="/journeys/new"><div class="nav-btn"><div class="ugh-cent">admin options</div></div></a></div>
        <!-- <div class="nav-top-box"><a href="/admin"><div class="nav-btn"><div class="ugh-cent">admin options</div></div></a></div> -->
      <% end %>
      <a href="/user/<%= current_user.id %>"><div class="user-corner-box">
        <% if current_user.avatar.file.nil? %>
        <%= image_tag 'default_av.png', class: 'user-corner' %>
        <% else %>
          <img src="<%= current_user.avatar.url%>" class="user-corner">
        <% end %>
      </div></a>
      <div class="nav-top-box"><a rel="nofollow" data-method="delete" href="/users/sign_out"><div class="nav-btn"><div class="ugh-cent">logout</div></div></a></div>
    <% else %>
        <div class="nav-top-box"><a href="/users/sign_up"><div class="nav-btn"><div class="ugh-cent">sign up</div></div></a></div>
        <div class="nav-top-box"><a href="/users/sign_in"><div class="nav-btn"><div class="ugh-cent">log in</div></div></a></div>
    <% end %>
  </div>

  
  <div id="nav-bot">
    <% if user_signed_in? && current_user.is_admin? && cookies[:mentorship_id] && cookies[:mentorship_id] == "admin" %>
      <b>admin menu</b>
      <a href="/brackets/new">new bracket</a>
      | 
      <!-- <a href="/activities/new">new activity</a> -->
      <a href="/journeys/new">assign a mentorship</a>
    <% elsif cookies[:mentorship_id] %>
    <b>journey: </b>
    <a href="/journey/<%= cookies[:mentorship_id] %>" id="nav-ment"><%= Mentorship.find(cookies[:mentorship_id]).title %></a>
      <span style="margin-right:5px;">||</span>
    <% if Mentorship.find(cookies[:mentorship_id]).student == current_user %>
      <a href="/brackets/<%= Mentorship.find(cookies[:mentorship_id]).bracket.id %>"><%= Mentorship.find(cookies[:mentorship_id]).bracket.title %></a>
      |
      <a href="/user/<%= Mentorship.find(cookies[:mentorship_id]).teacher.id %>"><%= Mentorship.find(cookies[:mentorship_id]).teacher.displayname %></a>
      |
      <a href="/activities">homeworks</a>
      |
      <a href="/achievements/new">submit</a>
      |
      <a href="/achievements">past submissions</a>
    <% elsif Mentorship.find(cookies[:mentorship_id]).teacher == current_user %>
      <a href="/user/<%= Mentorship.find(cookies[:mentorship_id]).student.id %>"><%= Mentorship.find(cookies[:mentorship_id]).student.displayname %></a>
      |
      <a href="/achievements">check submissions</a>
      |
      <a href="/journeys/<%= cookies[:mentorship_id] %>/edit">update journey</a>
    <% end %>
    <% else %>
      <b>learn to do it!</b>
      <!-- WHAT TO PUT HERE?? -->
    <% end %>
  </div>

</nav>

  <div id="wrapper">
    <%= yield %>
  </div>

  </body>
</html>
