<!DOCTYPE html>
<html>
  <head>
    <title>NycdaFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav>
  <% if user_signed_in? %>
    <a href="/">home</a> --
    <% if Mentorship.where("student_id" => current_user.id).where("is_complete" => false) %>
      <a href="/journeys">your journeys</a> -
      <a href="/assignments">assignments</a> --
    <% end %>
    <% if Mentorship.where("teachcer_id" => current_user.id).where("is_complete" => false) %>
      <a href="/students">your students</a> --
    <% end %>
    <% if current_user.is_admin? %>
      <a href="/admin">admin options</a> --
    <% end %>
    <a href="/user/<%= current_user.id %>">profile</a> --
    <%= link_to('logout', destroy_user_session_path, method: :delete) %>   
  <% else %>
    <%= link_to('login', new_user_session_path)  %>  
  <% end %>
</nav>

    <%= yield %>

  </body>
</html>
