<!DOCTYPE html>
<html>
  <head>
    <title>NycdaFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav>
  <% if user_signed_in? %>
    <a href="/">home</a> --
    <% if current_user.mentorships.where("is_complete" => false)[0] %>
      <a href="/journeys">your journeys</a> -
      <a href="/assignments">assignments</a> --
    <% end %>
    <% if Mentorship.where("is_complete" => false).where("teacher_id" => current_user.id)[0] %>
      <a href="/students">your students</a> --
    <% end %>
    <% if current_user.is_admin? %>
      <a href="/admin">admin options</a> --
    <% end %>
    <a href="/user/<%= current_user.id %>">profile</a> --
    <%= link_to('logout', destroy_user_session_path, method: :delete) %>   
  <% else %>
    <%= link_to('login', new_user_session_path)  %>  
  <% end %>
</nav>

<% if cookies[:mentorship_id] %>
  <%= cookies[:mentorship_id] %>
<% else %>
  fuck
<% end %>

    <%= yield %>

  </body>
</html>
